<%= render "shared/nav"%>

<body>

  <h1>ようこそ！</h1>
  <h2>アカウントを作成しよう</h2>
    
  <div>
    <%= form_with model: @user, url: user_registration_path, class:'registration-main', local: true do |f| %>
      <%= render partial: 'shared/error_messages', locals: {model: f.object} %>
      <div class="form-group">
        <div>
          <label class="form-text">ニックネーム</label>
        </div>
        <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"必須", maxlength:"20" %>
      </div>
      <div class="form-group">
        <div>
          <label class="form-text">会社名</label>
          <p class="reference">※製品を出品する場合は所属会社名を入力してください</p>
        </div>
        <%= f.text_area :company_name, class:"input-default", id:"company_name", placeholder:"任意", maxlength:"20" %>
      </div>
      <div class="form-group">
        <div>
          <label class="form-text">メールアドレス</label>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"必須", autofocus: true %>
      </div>
      <div class="form-group">
        <div>
         <label class="form-text">パスワード</label>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"必須" %>
      </div>
      <div class='register-btn'>
        <%= f.submit "登録" ,class:"register-red-btn" %>
      </div>
    <% end %>
  </div>
</body>
<%= render "shared/footer"%>
