
<%= render "shared/nav"%>
<%= render 'shared/flash_messages' %>

<div class="product-contents">
  <ul class= "product-lists">
    <% @products.each do |product| %>
      <li class="list">
        <div class="product-img-content">
          <h3 class="product-name">
            <%= product.name %>
          </h3>
          <%= image_tag product.image , class: "product-img" if product.image.attached? %>
        </div>
        <div class="product-info">
          <div class="product-user-info">
            <%= product.user.company_name %>
            <br>
            <%= product.user.nickname %>
          </div>
          <div class="product-created-at">
            <p>投稿日</p>
            <%= product.created_at.strftime("%m/%d") %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= render "shared/footer"%>


