
<%= render "shared/nav"%>
<%= render 'shared/flash_messages' %>
<div class="title-contents">
  <%= image_tag "factory_pic.png" %>
  <p class="title-name">Welcome to B-products</p>
  <p class="title-subname">メーカー製品を共有しよう！</p>
</div>
<h4 class="title-explanation">当サイトはメーカー製品(新品)の投稿・閲覧が可能です。
<br>※中古品ではありません。品位が規格外であったり、少量故に廃棄せざるを得ない製品です。
<br>※性能が規格外のものはありません。
</h4>
<span class="search-layout">
  <%= search_form_for @p, url: products_search_path do |f| %>
    <%= f.search_field :name_or_explanation_cont, class:"search-form", placeholder: "🔎キーワード" %>
    <%= f.submit "検索" %>
  <% end %>
</span>
<div class="product-contents">
  <div id="products">
    <%= render 'products' %>
  </div>
</div>

<%= render "shared/footer"%>


