<%= render "shared/nav"%>
<h2>製品を投稿しよう！</h2>
<%= form_with model:@product, class: "product-post-main", local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="img-upload">
    <div class="weight-bold-text">
      投稿製品画像
    </div>
    <div class="click-upload">
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>
  <div class="weight-bold-text">
  製品名
  </div>
  <%= f.text_area :name, class:"products-text", id:"product-name", placeholder:"製品名", maxlength:"20" %>
  <div class="weight-bold-text">
  製品状態
  </div>
  <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>

<%end%>